UFVK=uview1...your_unified_full_viewing_key
NETWORK=Mainnet
ZEBRA_RPC_URL=http://127.0.0.1:8232
LISTEN_ADDR=127.0.0.1:3080
DB_PATH=/data/zap1.db
SCAN_FROM_HEIGHT=3284026
SIGNAL_NUMBER=+1234567890
SIGNAL_API_URL=http://127.0.0.1:8080
API_KEY=your_secret_api_key_here
